.cdiv {
  width: 60vw;
  height: 50vh;
  color: rgb(6, 19, 3) !important;
  background-color: rgb(9, 145, 242) !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
